html {
  height: 100%;
  width: 100%;
  background-color: wheat;
}

body {
  width: 90%;
  margin: auto;
}

h1, p {
  text-align: center;
}

form {
  background-color: #F0F8FF;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 1%;
}

input[type="text"],
input[type="number"],
input[type="email"] {
  border-radius: 5px;
  padding: 3px;
  min-width: 180px;
}

select {
  border-radius: 3px;
  padding: 3px;
}

textarea {
  width: 100%;
  border: 1px solid gray;
}

.row {
  margin-bottom: 20px;
}

.col-l {
  margin-bottom: 5px;
}

#submit {
  height: 35px;
  width: 70px;
  display: block;
  margin: auto;
  border-radius: 5px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .row {
    width: 100%;
    display: inline-block;
  }
 
  .col-l,
  .col-r {
    width: 40%;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
  }

  .col-l {
    left: 9%;
  }

  .col-r {
    right: 9%;
    float: right;
  }

  .col-l > label {
    text-align: right;
  }
  
  .col-l > * {
    float: right;
  }
}
